<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1> Welcome </h1>
    <!-- <table> -->
        <% if(username) {
            %>
            <%= username %><%
        }
        %>
    <!-- </table> -->
    <label>logout ?</label>
    <a href="/api/users/logout">logout</a>
</body>
</html>